# T1. Retrieving a table of an SQLite3 as a `pd.DataFrame`

-----

    2020-10-09

Testing the `M248.query` script.

In [1]:
import M248.query as query

# create connection to the database
db = query.Database()

# query a table in the database
a_table = query.Table("Distance", db)

# export the table to a DataFrame
df = a_table.toDF()

# Testing the DataFrame
df.head()

   Road   Map
0  10.7   9.5
1  11.7   9.8
2   6.5   5.0
3  25.6  19.0
4  29.4  23.0