# 1. Data processing: epl_1819_game_id

**date**
: 2021-04-11

**desc**
: Source data is processed to include only fields:
`game_id`,`total_goal_count`, `home_team_goal_timings`, `away_team_goal_timings`. Note the `game_id` is an additional field.

**in**
: "/projects/prem_league/data/in/epl_1819.csv"

**out**
: "/projects/prem_league/data/out/epl_1819_game_id.csv"

In [1]:
import pandas as pd
import numpy as np
from setup.data import Data

In [2]:
# read data in
df_in = Data.load_epl_1819()

In [3]:
# select columns
df_out = df_in[[
    "total_goal_count",
    "home_team_goal_timings",
    "away_team_goal_timings"
]].copy(deep=True)

In [4]:
# get number_of_rows
game_count: int = df_in["total_goal_count"].size

In [5]:
# add game_id
df_out["game_id"] = np.arange(start=0, stop=game_count)

In [6]:
# preview file
df_out.head(10)

   total_goal_count home_team_goal_timings away_team_goal_timings  game_id
0                 3                   3,83                   90'2        0
1                 3                     11                   8,18        1
2                 2                24,90'1                    NaN        2
3                 2                    NaN                  41,79        3
4                 3                    NaN               34,45,80        4
5                 2                  35,54                    NaN        5
6                 4                  44,80                  17,67        6
7                 4          19,45'2,53,88                    NaN        7
8                 0                    NaN                    NaN        8
9                 2                    NaN                  14,64        9

In [7]:
# output file
df_out.to_csv(Data.PATH_OUT + "epl_1819_game_id.csv", index=False)