# 1.3 Constructing data: goal_times.csv

~~~
THIS NEEDS TO BE REFACTORED
~~~

**date**
: 2021-04-11

**desc**
: The goal times in the source are comma separated `str`.
An algorithm has been included before each part of the process.
We use string comprehension to:

1. split the `str` to `list(str)` by detecting the `,`
2. convert the list elements of `str` literals to `int` literals
3. combine the two `list(int)` into one unordered `list(int)`
4. sort the combined `list(int)` into ascending order
5. construct a `dict(int, list(int))`, where the key is the `game_id`, and `list(int)` in the output from step 4.

**in**
: "data/out/epl_1819_game_id.csv"

**out**
: "data/out/goal_times.csv"

3. **waiting_time_goals.csv**
    - source: **epl_1819_game_id.csv**
    - `game_id`
    - `time_interval`
4. **global_time_of_goal.csv**
    - source: **waiting_time_goals.csv**
    - `goal_id`
    - `global_time`

In [1]:
import pandas as pd
import numpy as np
from src.data import Data
from src.list_comprehension import ListComprehension

In [2]:
# read data in
df_in = Data.load_epl_1819_game_id()

In [3]:
# replace NaN values with "NaN"
df_in["home_team_goal_timings"].fillna(value="NaN", inplace=True)
df_in["away_team_goal_timings"].fillna(value="NaN", inplace=True)

In [4]:
df_in.head()

   total_goal_count home_team_goal_timings away_team_goal_timings  game_id
0                 3                   3,83                   90'2        0
1                 3                     11                   8,18        1
2                 2                24,90'1                    NaN        2
3                 2                    NaN                  41,79        3
4                 3                    NaN               34,45,80        4

In [5]:
# construct three lists for processing
game_id: list = df_in["game_id"].to_list()
home_timings: list = df_in["home_team_goal_timings"].to_list()
away_timings: list = df_in["away_team_goal_timings"].to_list()

## Step 1

Transfrom: `list(str) -> list(list(str))`

In [6]:
# process home goals
home_goal_times: list = ListComprehension.comma_separated_strings_to_list(
    home_timings
)

In [7]:
# process away goals
away_goal_times: list = ListComprehension.comma_separated_strings_to_list(
    away_timings
)

## Step 2

Transform: `list(list(str)) -> list(list(int))`

In [8]:
# process home
int_home_goal_times = ListComprehension.list_str_to_list_int(
    home_goal_times
)

In [9]:
# process away
int_away_goal_times = ListComprehension.list_str_to_list_int(
    away_goal_times
)

## Step 3

Combine each list element with its partner so we get one `list(list(int))`

In [10]:
merged_goal_times = ListComprehension.merge_lists(
    int_home_goal_times,
    int_away_goal_times
)

## Step 4

Sort each list of goal times into ascending order.

In [11]:
sorted_goal_times = ListComprehension.sort_lists(
    merged_goal_times
)

## Step 5

Created two partner lists.

One will be a `list(int)`, where each `int` is a goal time.
The second will be a goal's `game_id`.

They are partnered in the sense that elem `i` in both lists will be related.

In [12]:
game_ids, goal_times = ListComprehension.create_linked_lists(
    sorted_goal_times
)

## Step 6

We now creates a `DataFrame` of `games_ids, goal_times` and output to a csv file.

In [13]:
df_out = pd.DataFrame()

In [14]:
# add the game_ids and goal_times
df_out["game_ids"] = game_ids
df_out["goal_times"] = goal_times

In [15]:
# output file
df_out.to_csv(Data.PATH_OUT + "goal_times.csv", index=False)