# 1.4 Constructing data: global_goal_times.csv

**date**
: 2021-04-11

**desc**
: Calculate the global goal time, the time in minutes a goal was scored if all games we played in series.

**in**
: "data/out/goal_times.csv"

**out**
: "data/out/global_goal_times.csv"

In [1]:
import pandas as pd
import numpy as np
from src.data import Data

In [2]:
# read data in
df_in = Data.load_goal_times()

In [3]:
df_in.head()

   game_ids  goal_times
0         0           3
1         0          83
2         0          90
3         1           8
4         1          11

In [4]:
df_out = df_in.copy(deep=True)

In [5]:
# adjust time by game_id * 90
df_out["global_goal_times"] = (df_out["goal_times"] + (90 * df_out["game_ids"]))

In [6]:
# add goal_id
df_out["goal_ids"] = np.arange(
    start=1,
    stop=df_out["game_ids"].size +1
)

In [7]:
# keep wanted columns
df_out = df_out[["game_ids", "goal_ids", "global_goal_times"]]

In [9]:
df_out

      game_ids  goal_ids  global_goal_times
0            0         1                  3
1            0         2                 83
2            0         3                 90
3            1         4                 98
4            1         5                101
...        ...       ...                ...
1067       379      1068              34125
1068       379      1069              34149
1069       379      1070              34156
1070       379      1071              34181
1071       379      1072              34188

[1072 rows x 3 columns]

In [10]:
# output file
df_out.to_csv(Data.PATH_OUT + "global_goal_times.csv", index=False)