# Select Distinct Rows

Use `drop_duplicates()`.

~~~python
DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
~~~

In [1]:
from scripts import query
import pandas as pd

In [3]:
# import the tracks table
chinook = query.Database(db="data/chinook.db")
tbl = query.Table(table="customers", db=chinook)
df_cutomers = tbl.toDF()

In [4]:
df_cutomers.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

**Example 1.** Return a unique list of `cities` in the `customer` table

In [11]:
df_cutomers["City"].drop_duplicates().sort_values().head(10)

47       Amsterdam
58       Bangalore
35          Berlin
41        Bordeaux
22          Boston
12        Brasília
7         Brussels
44        Budapest
55    Buenos Aires
23         Chicago
Name: City, dtype: object

**Example 2**. Count the number of unique `cities` in `customer`, excluding `None` values.

In [12]:
df_cutomers["City"].nunique()

53

**Example 3**. Return a unique `DataFrame` on multiple columns.