# T1. Testing `query`

-----

    2020-10-09

In [1]:
import M248.query as query

In [2]:
# Create connection to the database
db = query.Database("sets")

In [3]:
# Testing connection to db
db.listTables()

Table list
----------
Distance
Membership
Memory
ResponseInhibition
Tattoos

In [4]:
# Query a table in db
table = query.Table("Distance", db)

In [5]:
# exports the table to a DataFrame
df = table.toDF()

In [6]:
# Testing the DataFrame
df.head()

   Road   Map
0  10.7   9.5
1  11.7   9.8
2   6.5   5.0
3  25.6  19.0
4  29.4  23.0

In [7]:
df.describe()

            Road        Map
count  20.000000  20.000000
mean   20.855000  16.130000
std     9.611094   7.337151
min     6.500000   4.800000
25%    13.575000  11.000000
50%    19.050000  14.900000
75%    28.850000  21.775000
max    40.500000  28.200000